@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura-demi-bold.otf"); }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  background-color: #263238;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23202b30' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Muli', sans-serif; }
  body .col-12 {
    text-align: center;
    background-color: #263238; }
  body .navbar {
    background-color: none;
    transition: 1s ease-in-out; }
    body .navbar .navbar-brand img {
      height: 6vmin; }
  body .navbar-light .navbar-nav .nav-link {
    color: #263238;
    margin: 5px; }
  body .navbar-light .navbar-nav .nav-link:hover {
    color: #82CCE0; }
  body .on-scroll {
    background-color: #FFFFFF;
    color: #263238;
    border-bottom: 0.5px solid #263238;
    transition: 0.1s ease-in; }
  body .white-outline {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #263238;
    transition: background-color 0.15s ease-in-out; }
  body .white-outline:hover {
    color: white;
    background-color: #263238;
    cursor: pointer; }
  body .jumbotron {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,640,296)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23edf6ff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    min-height: 100vh; }

@keyframes scroll {
  0% {
    transform: translateY(0); }
  30% {
    transform: translateY(60px); } }
    body .jumbotron a {
      color: white;
      -webkit-text-fill-color: white;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #263238; }
    body .jumbotron a:hover {
      text-decoration: none; }
    body .jumbotron .btn-outline-primary {
      color: black;
      -webkit-text-fill-color: black;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #263238;
      border: 1px solid #82CCE0;
      border-radius: 3px;
      margin-top: 10px;
      font-family: 'Muli', sans-serif;
      font-weight: light;
      font-size: 1.6em; }
    body .jumbotron .btn-outline-primary:hover {
      background: #82CCE0; }
    body .jumbotron img {
      margin-bottom: 0;
      margin-top: -6vh;
      margin-right: 0;
      max-height: 1.5em;
      transition: 3s ease-in; }
    body .jumbotron img:hover {
      transform: translateY(10px); }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-40px); } }
    body .jumbotron .main-title {
      letter-spacing: 2.5px;
      color: #263238;
      font-family: 'Futura', sans-serif;
      font-size: 5.0em;
      margin-top: 7%;
      margin-bottom: -4vmin;
      padding: 10px; }
    body .jumbotron .sub-title {
      margin-top: 0;
      padding: 0;
      font-size: 2.2em; }
    body .jumbotron .sub-sub-title {
      padding: 10px;
      font-size: 4vmin; }
    body .jumbotron .three-cogs {
      position: relative;
      color: #263238; }
  body .faq {
    text-align: center;
    background-color: #263238;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23202b30' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    color: white;
    min-height: 100vh;
    padding-top: 80px;
    margin-left: 0; }
    body .faq .row {
      margin-top: 30px; }
    body .faq .col-md-10 {
      padding: 30px 30px 5px;
      margin-top: 0; }
      body .faq .col-md-10 h5 {
        text-align: left;
        font-weight: bold;
        font-size: 1.5em; }
      body .faq .col-md-10 p {
        text-align: left;
        font-size: 1em; }
  body .gettinghere {
    background: transparent;
    color: white;
    min-height: 80vh;
    padding-top: 80px;
    font-size: 1em; }
    body .gettinghere .row {
      margin-top: 2%;
      text-align: left; }
  body .schedule {
    padding-top: 80px;
    min-height: 100vh;
    color: white;
    background: transparent; }
    body .schedule .row {
      text-align: center;
      margin-top: 2%; }
      body .schedule .row .col-lg-6 {
        text-align: left; }
  body .sponsors {
    color: #263238;
    margin-bottom: -7px;
    min-height: 100vh;
    padding-top: 80px;
    background-color: #FFFFFF;
    width: 100%; }
    body .sponsors h1 {
      margin-bottom: 2%; }
    body .sponsors img {
      height: 100px;
      margin-top: 2%; }
    body .sponsors .col-md-10 {
      margin-bottom: 2%; }
  body footer {
    bottom: 0;
    width: 100%;
    height: 12vh;
    min-height: 10vh;
    /* Height of the footer */
    background: #FFFFFF;
    text-align: center;
    padding: 15px;
    color: #263238;
    border-top: 0.5px solid #263238; }
    body footer a {
      color: #263238; }
    body footer a:hover {
      color: #263238;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: #82CCE0; }
    body footer .footer-main {
      font-size: 1.1em; }
    body footer .blue-outline {
      color: #82CCE0; }
    body footer h5 {
      font-size: 0.9em; }
    body footer .fa-heart {
      color: red;
      transition: all 1s ease-in-out;
      animation: beat 1s infinite; }

@keyframes beat {
  0% {
    color: red;
    transform: scale(1); }
  50% {
    color: maroon;
    transform: scale(1.15); }
  100% {
    color: red;
    transform: scale(1); } }
  @media only screen and (max-width: 768px) {
    body html {
      overflow-x: hidden; }
    body .container {
      overflow-x: hidden; }
    body .navbar {
      border-color: white;
      background-color: white;
      border-bottom: 0.5px solid black;
      padding-bottom: 10px; }
      body .navbar .nav-item {
        padding: 3px; }
    body .jumbotron {
      padding-top: 50%; }
      body .jumbotron .main-title {
        font-size: 3.5em;
        margin-top: 0%; }
        body .jumbotron .main-title img {
          margin-top: -6px; }
      body .jumbotron .sub-title {
        font-size: 2em; }
      body .jumbotron .sub-sub-title {
        font-size: 1.8em; }
    body .faq h1 {
      font-size: 3em; }
    body .faq .col-md-10 {
      padding: 30px 30px 5px;
      margin-top: 0; }
      body .faq .col-md-10 h5 {
        text-align: left;
        font-weight: bold;
        font-size: 2em; }
      body .faq .col-md-10 p {
        text-align: left;
        font-size: 1.8em; }
    body .gettinghere h1 {
      font-size: 3em; }
    body .gettinghere h4 {
      font-size: 2em; }
    body .gettinghere p, body .gettinghere ul {
      font-size: 1.3em; }
    body .sponsors .col-md-10 {
      padding: 20px; }
    body .gmap_canvas {
      width: 100%; } }
  @media only screen and (max-width: 400px) {
    body html {
      overflow-x: hidden; }
    body .container {
      overflow-x: hidden; }
    body .navbar {
      border-color: white;
      background-color: white;
      border-bottom: 0.5px solid black;
      padding-bottom: 10px; }
      body .navbar .nav-item {
        padding: 3px; }
    body .jumbotron {
      padding-top: 35%;
      width: 100%;
      overflow-x: hidden; }
      body .jumbotron .main-title {
        font-size: 2.2em;
        margin-top: 0%; }
        body .jumbotron .main-title img {
          margin-top: -6px; }
      body .jumbotron .sub-title {
        font-size: 1.5em; }
      body .jumbotron .sub-sub-title {
        font-size: 1.3em; }
    body .faq h1 {
      font-size: 2em; }
    body .faq .col-md-10 {
      padding: 30px 30px 5px;
      margin-top: 0; }
      body .faq .col-md-10 h5 {
        text-align: left;
        font-weight: bold;
        font-size: 1.5em; }
      body .faq .col-md-10 p {
        text-align: left;
        font-size: 1.2em; }
    body .gettinghere h1 {
      font-size: 2em; }
    body .gettinghere h4 {
      font-size: 1.5em; }
    body .gettinghere p, body .gettinghere ul {
      font-size: 1.2em; }
    body .sponsors .col-md-10 {
      padding: 20px; }
    body .schedule h1 {
      font-size: 2em; }
    body .gmap_canvas {
      width: 100%; } }
