body {
  background-color: $intuition-white;
  font-family: 'Muli', sans-serif;

  .white-outline {
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: $intuition-black;
  }

  .jumbotron {
    background: $intuition-white;
    height: 70vh;

    img {
      margin-bottom: 0;
      padding: 0;
      height: 20vh;
    }

    .main-title {
      letter-spacing: 2.5px;
      color: $intuition-black;
      font-family: 'Futura', sans-serif;
      font-size: 4.5em;
      margin-top: 0;
    }

    .sub-title {
      margin-top: -30px;
      padding: 0;
      font-size: 2.1em;
    }
    .sub-sub-title {
      margin-top: 0px;
      padding: 0;
      font-size: 1.9em;
    }

    .three-cogs {
      position: relative;
      color: $intuition-black;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;
    min-height: 7vh;
    /* Height of the footer */
    background: $intuition-white;
    text-align: center;
    padding:5px;

    .footer-main{
      font-size:1.1em;
    }
    h5 {
      font-size: 0.9em;

    }

    .fa-heart {
      color: red;
      transition: all 1s ease-in-out;
        animation: beat 1s infinite;
    }
    // .fa-heart:hover{
    //   animation: beat 1s infinite;
    // }
    @keyframes beat{
      0%{
        color: red;
        transform: scale(1.0);
      }
      50%{
        // color:orange;
        transform: scale(1.1);
      }
      100%{
        color:red;
        transform: scale(1.0);
      }
    }
  }
}
