body {
  background-color: $intuition-white;
  font-family: 'Muli', sans-serif;

  .white-outline {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: $intuition-black;
    transition: background-color 0.15s ease-in-out;
  }

  .white-outline:hover {
    color: white;
    background-color: $intuition-black;
    cursor: pointer;
  }

  .jumbotron {
    background: $intuition-white;
    height: 100vh;
    min-height: 100vh;
    @keyframes scroll {
      0% {
        transform: translateY(0);
      }

      30% {
        transform: translateY(60px);
      }
    }

    svg #wheel {
      animation: scroll ease 2s infinite;
    }

    .svg {
      min-height: 10%;
      margin-top: 10vmin;
      font-size: 2.5vmin;
    }

    a {
      color: white;
      -webkit-text-fill-color: white;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: $intuition-black;
    }

    a:hover {
      text-decoration: none;
    }

    .btn-outline-primary {
      color: black;
      -webkit-text-fill-color: black;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: $intuition-black;
      border: 1px solid $intuition-blue;
      border-radius: 3px;
      margin-top: 10px;
      font-family: 'Muli', sans-serif;
      font-weight: light;
      font-size: 4vmin;
    }

    .btn-outline-primary:hover {
      background: $intuition-blue;
    }

    img {
      margin-bottom: 0;
      padding: 0;
      height: 20vh;
      animation: bounce 3s infinite;
    }
    @keyframes bounce {
      0% {
        transform: translateY(0px);
      }

      50% {
        transform: translateY(-20px);
      }
    }

    .main-title {
      letter-spacing: 2.5px;
      color: $intuition-black;
      font-family: 'Futura', sans-serif;
      font-size: 4.5em;
      font-size: 12vmin;
      margin-top: 0;
      margin-bottom: -4vmin;
    }

    .sub-title {
      margin-top: 0vh;
      padding: 0;
      font-size: 2.0em;
      font-size: 5.5vmin;
    }

    .sub-sub-title {
      padding: 0;
      font-size: 4vmin;
    }

    .three-cogs {
      position: relative;
      color: $intuition-black;
    }
  }

  .faq {
    text-align: center;
    background: $intuition-black;
    color: white;
    min-height: 100vh;
    padding-top: 50px;
    margin-left: 0;

    h1 {
      font-size: 6vmin;
    }

    .row {
      margin-top: 30px;
    }

    .col-md-4 {
      padding: 30px 30px 5px;
      margin-top: 0;

      h5 {
        text-align: left;
        font-weight: bold;
        font-size: 4vmin;
      }

      p {
        text-align: left;
        font-size: 3vmin;
      }
    }
  }

  footer {
    // position: absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;
    min-height: 10vh;
    /* Height of the footer */
    background: $intuition-black;
    text-align: center;
    padding: 15px;
    color: $intuition-white;
    border-top: 0.5px solid $intuition-white;

    a {
      color: $intuition-white;
    }

    a:hover {
      color: white;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: $intuition-blue;
    }

    .footer-main {
      font-size: 1.1em;
      font-size: 3vmin;
    }

    .blue-outline {
      color: $intuition-blue;
    }

    h5 {
      font-size: 0.9em;
      font-size: 2.6vmin;
    }

    .fa-heart {
      color: red;
      transition: all 1s ease-in-out;
      animation: beat 1s infinite;
    }
    @keyframes beat {
      0% {
        color: red;
        transform: scale(1.0);
      }

      50% {
        color: maroon;
        transform: scale(1.15);
      }

      100% {
        color: red;
        transform: scale(1.0);
      }
    }
  }
}
